{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <h1> Login </h1>
    {% if form.error %}
    <p>
        Please Check your username and password
    </p>
    {% else %}
    <p>
        Enter your username and password for login
    </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
                <input type="submit" value="Log-in">
            </p>
        </form>
        <p>
            <a href="#"> Forgot your Password? </a>
        </p>
    </div>
{% endblock %}